@page
@model ChinookHTMX.Pages.Invoices.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].BillingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].BillingCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].BillingState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].BillingCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].BillingPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Invoice) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
