@page
@model ChinookHTMX.Pages.Artists.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!-- Main Content -->
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Artists</h1>
        </div>

        <p>
            @* <a asp-page="Create" class="btn btn-primary btn-icon-split"> *@
            @*     <span class="icon text-white-50"> *@
            @*         <i class="fas fa-flag"></i> *@
            @*     </span> *@
            @*     <span class="text">Create New Artist</span> *@
            @* </a> *@
            <button hx-get hx-page="Index"
                    hx-page-handler="ModalCreate"
                    hx-target="#modal-create"
                    class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                </span>
                <span class="text">Create New Artist</span>
            </button>
        </p>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Albums</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Artists[0].Name)
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Artists)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @* <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> | *@
                                    @* <a asp-page="./Details" asp-route-id="@item.Id">Details</a> | *@
                                    @* <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> *@

                                    <button hx-get hx-page="Index"
                                            hx-page-handler="ModalEdit"
                                            hx-target="#modal-edit"
                                            hx-route-id="@item.Id"
                                            class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">Edit</span>
                                    </button>
                                    <button hx-get hx-page="Index"
                                            hx-page-handler="ModalDetails"
                                            hx-target="#modal-details"
                                            hx-route-id="@item.Id"
                                            class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">Details</span>
                                    </button>
                                    <button hx-get hx-page="Index"
                                            hx-page-handler="ModalDelete"
                                            hx-target="#modal-delete"
                                            hx-route-id="@item.Id"
                                            class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">Delete</span>
                                    </button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<div id="modal-create"></div>

<div id="modal-edit"></div>

<div id="modal-delete"></div>

<div id="modal-details"></div>